.Navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  fill: #ffffff;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  width: 100%;
  height: 60px;
  padding: 0 30px;
  top: 0;
  z-index: 10;
}
.scrolled .Navbar {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #757575;
  fill: #757575;
}
.Navbar-Logo-White {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 40px;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
}
.scrolled .Navbar-Logo-White {
  opacity: 0;
}
.Navbar-Logo {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 40px;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
}
.scrolled .Navbar-Logo {
  opacity: 1;
}
.Navbar-Links-Logo {
  display: none;
}
.Navbar-Links-Separator {
  display: none;
}
.Navbar-Links {
  display: flex;
  justify-content: flex-end;
}
.Navbar-Link {
  color: inherit;
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 3px 0;
  line-height: 31px;
  padding: 13px 0 0 0;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
}
.scrolled .Navbar-Link {
  padding-bottom: 13px;
}
.Navbar-Link--active {
  border-color: #ffc20a;
}

.Navbar-Burger {
  height: 60px;
  width: 60px;
  display: none;
  padding: 18px;
}
.Navbar-Burger-Icon {
  fill: #ffffff;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
}
.scrolled .Navbar-Burger-Icon {
  fill: #757575;
}
@media (max-width: 800px) {
  .Navbar {
    padding-right: 8px;
  }
  .Navbar-Burger {
    display: inline-block;
  }
  .Navbar-Links-Container-Wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #757575;
    fill: #757575;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
    pointer-events: none;
  }
  .Navbar-Links-Container-Wrapper--active {
    opacity: 1;
    pointer-events: auto;
  }
  .Navbar-Links-Container {
    width: 256px;
    background: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  }
  .Navbar-Links-Container-Wrapper--active .Navbar-Links-Container {
    transform: translateX(0%);
  }
  .Navbar-Link {
    display: block;
    line-height: 34px;
    border-width: 0 0 0 3px;
    margin: 8px 0;
    padding: 0 10px;
  }
  .scrolled .Navbar-Link {
    padding: 0 10px;
  }
  .Navbar-Links-Logo {
    display: block;
    margin: auto;
    width: 200px;
  }
  .Navbar-Links-Separator {
    display: block;
    border: 0;
    height: 1px;
    background: #f0f0f0;
    margin: 16px 0;
  }
}
