.Team-Wrapper {
  padding: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 30px;
}
.Team-Image {
  height: 150px;
  position: relative;
  width: 150px;
}
.Team-Border {
  bottom: 0;
  height: 150px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  z-index: 2;
}
.Team {
  border: 10px solid #ffffff;
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.Team-Name {
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 16px 0 0 0;
  font-size: 22px;
}
