.Team-Wrapper {
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: #757575;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  height: 262px;
  justify-content: space-between;
  margin: 16px;
  overflow: overlay;
  padding: 32px 16px;
  position: relative;
  text-align: left;
  user-select: none;
  vertical-align: top;
  width: 262px;
}
.Team-Image {
  height: 150px;
  position: relative;
  width: 150px;
}
.Team-Border {
  bottom: 0;
  height: 150px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  z-index: 2;
}
.Team {
  border: 10px solid #ffffff;
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.Team-Name {
  color: #757575;
  width: 100%;
  text-align: center;
  padding: 16px 0 0 0;
  font-size: 20px;
}
